@use "./../util/theme";

h1 {
    font-size: calc(2vw + 2rem);
    text-align: center;
}

.contents-list {
    // ref(繋げて検索): https://developer.mozilla.org/ja/docs/Web/CSS/
    // CSS_flexible_box_layout/Mastering_wrapping_of_flex_items
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    border-top: solid 1px #d33682;
    border-bottom: solid 1px #d33682;
    margin: 0.1rem;
}

.content {
    border: solid 2px #268bd2;
    margin: 15px 0;
    @media (min-width: 500px) {
        margin: 1rem;
    }
}

.content a {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.content-text {
    font-size: 140%;
    color: var(--text-color);
    padding-left: 1.5rem;
    line-height: 100%;
}

// ロゴ関連 ここから下

svg.content-svg {
    display: inline;
    width: 100%;
    aspect-ratio: 1;
    z-index: 10;
}

body {
    // svgの実際のコードをbodyの上に記述しているためその分消す
    // このsvg記述に対しdisplay: none; にするとclip-pathの
    // 表示ができなくなるので必須
    margin-top: -155px;
}

h1 {
    // 先ほどのbodyで削られた分を気持ち補う
    padding-top: 1.5rem;
}
// 部誌のロゴ
.club-logo-svg-a {
    stroke: var(--text-color);
}

// 暗号解読のロゴ
.cryptanalysis-svg-a,
.cryptanalysis-svg-b {
    stroke: var(--text-color);
}

// vsのロゴ
.vs-svg-a {
    stroke: var(--text-color);
}

// 使用技術のロゴ
.tech-svg-a {
    stroke: var(--text-color);
}
.tech-svg-b {
    stroke: var(--rev-text-color);
    fill: var(--text-color);
}

// メロス
.melos-svg-a {
    stroke: var(--text-color);
}

// 白
.white-svg-a {
    stroke: var(--text-color);
}

// ガチャ
.gacha-svg-a {
    stroke: var(--text-color);
}

.gacha-svg-b {
    fill: var(--text-color);
}

// 温度計
.thermometer-svg-a {
    stroke: var(--text-color);
}

.thermometer-svg-b {
    fill: var(--text-color);
}

// hello, world
.hello-world-svg-a {
    stroke: var(--text-color);
}
