@use "./../../assets/css/theme.css";

h1 {
    font-size: calc(2vw + 2rem);
    text-align: center;
}

p {
    &::after {
        content: "";
        display: block;
        height: 3vh;
    }
}

h2 {
    font-size: calc(min(1.5vw + 1.3rem, 45px));
    padding: 9px;
    margin: 4rem 0 2rem 0;
    max-width: 100%;
    font-family: serif;
}

.cipher-wrapper {
    display: grid;
    grid-template-rows: auto calc(6vh + 25px);
    grid-template-columns: calc(min(50%, 300px)) 1fr;
    gap: 10px;
    user-select: none;
}

.question {
    position: sticky;
    top: 10%;
    height: 15%;
    font-size: 120%;
    line-height: 2rem;
}

.cipher-operation-wrapper {
    position: sticky;
    bottom: 20px;
    padding: 10px;
    width: auto;
    height: 100%;
    border: solid 1px var(--text-color);
    background-color: var(--background-color);
    font-size: 130%;

    grid-row: 2 / 3;
    grid-column: 1 / 3;

    display: grid;
    grid-template-columns: 75px 1fr;
    gap: 2px;
}

.cipher-del {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.cipher-cls {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.cipher-del,
.cipher-cls {
    background-color: var(--background-color);
    color: var(--text-color);
    border: solid 2px #cb4b16;
    @media (min-width: 300px) {
        font-size: 13px;
    }
    @media (min-width: 600px) {
        font-size: 14px;
    }
    @media (min-width: 1000px) {
        font-size: 15px;
    }
    @media (min-width: 1400px) {
        font-size: 16px;
    }
}

.cipher-result-before {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    &::before {
        content: "前";
    }
}

.cipher-result-after {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    &::before {
        content: "後";
    }
}

.cipher-result-before,
.cipher-result-after {
    white-space: pre;
    overflow: scroll;
    user-select: all;
}

table.cipher {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #859900;
    font-size: calc(130% + 1vw);
    user-select: none;

    tr th,
    tr td {
        padding: 5px;
        text-align: center;
        font-weight: normal;
    }

    tr:nth-child(3n) {
        border-bottom: solid 1px #859900;
    }

    thead {
        border-bottom: solid 1px #859900;
        th {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: var(--background-color);
            border-bottom: solid 1px #859900;

            @media (min-width: 1400px) {
                top: 89px;
            }
        }
    }
}

.emphasis {
    text-decoration: underline #cb4b16;
    font-weight: bold;
}
