h1 {
    font-size: calc(2vw + 2rem);
    text-align: center;
}

h2 {
    font-size: calc(min(1.5vw + 1.3rem, 45px));
    padding: 9px;
    margin: 4rem 0 2rem 0;
    max-width: 100%;
    font-family: serif;
}

.start-button {
    display: block;
    height: 50px;
    width: 150px;
    margin: 50px auto;
    font-size: x-large;
    background-color: #fff;
    color: #000;
    border: solid 2px #000;
    border-radius: 20px;

    &:hover {
        filter: brightness(0.6);
        transform: scale(0.95);
    }
    &:active {
        transform: scale(1.05);
    }
}

.vs-wrapper {
    display: grid;
    grid-template-rows: 1fr 100px 1fr;
    grid-template-columns: auto;
    background-color: #555;
    user-select: none;
    border: solid 2px #000;
    box-sizing: border-box;

    * {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: xx-large;
        color: #000;
    }

    .player {
        &:active {
            filter: brightness(0.6);
        }

        &.winner {
            background: linear-gradient(
                50deg,
                #b67a00 0%,
                #dbaf10 45%,
                #feeaa0 70%,
                #dbaf10 85%,
                #b67b03 90% 100%
            );
        }
        &.loser {
            background: linear-gradient(
                50deg,
                #410101 0%,
                #570b0b 45%,
                #5f2828 70%,
                #570b0b 85%,
                #4e0101 90% 100%
            );
        }
    }

    @media (min-height: 300px) {
        height: 300px;
    }
    @media (min-height: 400px) {
        height: 400px;
    }
    @media (min-height: 500px) {
        height: 500px;
    }
    @media (min-height: 600px) {
        height: 600px;
    }
    @media (min-height: 700px) {
        height: 700px;
    }
    @media (min-height: 800px) {
        height: 800px;
    }
    @media (min-height: 1000px) {
        height: 1000px;
    }
}

.player-1 {
    grid-row: 1 / 2;
    background-color: #ff7f7f;
    transform: scale(-1);
}

.dva-display {
    grid-row: 2 / 3;
    background-color: #fff;
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    box-sizing: border-box;

    * {
        background-color: inherit;
        color: inherit;
    }
    .fighting > & {
        background-color: #000;
        color: #fff;
    }
}

.player-2 {
    grid-row: 3 / 4;
    background-color: #7f83ff;
}
