h1 {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 60px;
    height: 60px;
    margin: auto;

    font-size: calc(8vw + 2rem);
    filter: none;
    color: #fff;
    -webkit-text-stroke: calc(0.4vw + 10px) #000;
    paint-order: stroke;

    user-select: none;
}

h2 {
    font-size: calc(1.5vw + 1.3rem);
    max-width: 500px;
    padding: 9px;
    font-family: serif;
}

.title-and-formulas-wrapper {
    position: relative;
    height: auto;
    width: 100%;
    max-height: 700px;
    aspect-ratio: 1;
    align-items: center;
    transition: transform 1s ease;
    z-index: 1;

    .math-formulas {
        filter: blur(3px);
        display: block;
        width: 100%;
        height: 100%;
    }
}

:has(.math-formulas-wrapper:active) {
    user-select: none;
    overflow: hidden;
}

// * {
//     border: solid 1.3px red;
// }
