@use "./../../scss/util/theme.scss";

h1 {
    font-size: calc(3vw + 2rem);
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.title-list-title {
    font-size: calc(1rem + 1vw + 3px);
}

.title-list {
    margin-top: 0;
    li {
        padding: 5px 0;
        a {
            text-decoration: none;
            color: var(--text-color);
        }
    }
}

h2 {
    font-size: calc(min(1.5vw + 1.3rem, 45px));
    border-left: solid #d33682 3.3px;
    border-bottom: solid #d33682 1.3px;
    padding: 9px;
    margin: 6rem 0 -1rem 0;
    max-width: 100%;
    font-family: "serif";
}

h3 {
    font-size: calc(min(1vw + 1rem, 33px));
    border-bottom: solid #859900 1.3px;
    padding: 9px;
    margin: 3rem 0 1.5rem 0;
    max-width: calc(min(75%, 500px));
    font-family: "serif";
}

// mainのやつをoverride
p {
    font-size: calc(min(1rem + 0.35vw, 22px));
    line-height: calc(1.8rem + 1.2vw);
}

.content-t-r-ul > li {
    font-size: calc(1rem + 0.35vw);
    line-height: calc(1.5rem + 1vw);
}
