@use "./../../scss/util/theme.scss";

h1 {
    font-size: calc(3vw + 2rem);
    text-align: center;
}

html,
body {
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-list-title {
    font-size: calc(1rem + 1vw + 3px);
}

.title-list {
    margin-top: 0;
    font-size: larger;
    li {
        padding: 8px 0;
        a {
            text-decoration: none;
            color: var(--text-color);
        }
    }
}

h2 {
    font-size: calc(min(1.5vw + 1.3rem, 45px));
    padding: 9px;
    margin: 6rem 0 2rem 0;
    max-width: 100%;
    font-family: serif;
}

h3 {
    font-size: calc(min(1vw + 1rem, 33px));
    border-bottom: solid #cb4b16 1.5px;
    padding: 9px;
    margin: 2rem 0 1.5rem 0;
    max-width: calc(min(75%, 500px));
    font-family: serif;
}

h4 {
    font-size: calc(min(0.9vw + 0.9rem, 25px));
    border-left: solid #859900 2px;
    padding: 5px;
    padding-left: 9px;
    margin: 2rem 0 1rem 5px;
    max-width: 100%;
    font-family: serif;
}

// mainのやつをoverride
p {
    font-size: calc(min(1rem + 0.35vw, 22px));
    line-height: calc(1.8rem + 1.2vw);
}

.force-wrap {
    word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-break: anywhere;
}

.references-url {
    font-size: 70%;
}

.content-center {
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

// ここからそれぞれの部誌固有のscss
// prefixは統一すること
// 適当に付与したいときはprefix + suffix + [char]

// 三角比
.content-t-r-ul > li {
    font-size: calc(1rem + 0.35vw);
    line-height: calc(1.5rem + 1vw);
}

// 調和数列
.content-hp-numerical-formula {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0 5px;
}
.content-hp-musical-scale-wrapper > table {
    --border-color: var(--text-color);
    width: 100%;
    max-width: 400px;
    border: solid 2px var(--border-color);
    border-collapse: collapse;
    font-size: 120%;
    margin: 30px 0px;

    tr th,
    tr td {
        padding: calc(0.15vw + 0.15vh);
    }

    tr:nth-child(3n) {
        border-bottom: solid 0.1px var(--border-color);
    }

    tbody {
        border: solid 1px var(--border-color);
        td {
            text-align: center;
        }
        * {
            font-weight: normal;
        }
    }
}
.content-hp-chord-wrapper {
    --border-color: var(--text-color);
    overflow-x: auto;
    width: 100%;
    max-width: 550px;
    font-size: larger;
    table {
        width: 100%;
        border-collapse: collapse;
        white-space: nowrap;
        border: solid 1px var(--border-color);
        margin: 15px 0;
    }
    tr th,
    tr td {
        padding: 3px 13px;
    }
    thead,
    tbody {
        * {
            text-align: center;
        }
    }
}
.content-hp-a {
    border-left: solid 0.1px var(--text-color);
}

// 平面, 点 3つのやつ
.content-sg-a {
    display: block;
    border-left: solid 0.1px var(--text-color);
    margin-left: 7px;
    padding-left: 3px;
}
