@use "./../../assets/css/theme.css";

h1 {
    font-size: calc(2vw + 2rem);
    text-align: center;
}

body {
    margin-top: -160px;
    @media (min-width: 1400px) {
        margin-top: -70px;
    }
}

h2 {
    font-size: calc(min(1.5vw + 1.3rem, 45px));
    padding: 9px;
    margin: 4rem 0 2rem 0;
    max-width: 100%;
    font-family: serif;
}

h3 {
    font-size: calc(min(1vw + 1rem, 25px));
}

div.rbg-experience,
div.hsv-experience {
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    gap: 3px;
    margin: 80px 0;

    div.color-preview {
        width: 100%;
        height: 100%;
        border: solid 2px var(--text-color);
        box-sizing: border-box;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    label {
        display: flex;
        align-items: center;
        padding-left: 5px;
    }
}

input.range-visibility {
    &::-webkit-slider-thumb {
        background-color: #fff;
        border: solid 2px #000;
    }

    &.red::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #eee, #f00);
    }
    &.green::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #eee, #0f0);
    }
    &.blue::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #eee, #00f);
    }
}

div.hsv-summary-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

div.hsv-svg-wrapper {
    display: grid;
    position: sticky;
    top: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    svg.hsv-top {
        background-color: var(--background-color);
    }

    @media (min-width: 800px) {
        position: static;
    }
}

svg.hsv {
    display: inline;
    width: 100%;
    aspect-ratio: 1;
    height: auto;
    z-index: 10;
    box-sizing: border-box;
    border: solid 1px var(--text-color);
}

i {
    font-size: 90%;
}

.gist-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    &.active {
        flex-direction: column;
        // align-items: flex-start;
    }
}

.gist-button {
    --rotate: 0deg;

    display: grid;
    place-items: center;
    width: 50px;
    aspect-ratio: 1;
    cursor: pointer;
    background-color: var(--blurred-text-color);
    border: none;
    border-radius: 3px;

    .active > & {
        --rotate: 135deg;
    }

    span {
        display: block;
        grid-area: 1 / 1/ -1/-1;
        width: 70%;
        height: 2.5px;
        background-color: var(--rev-text-color);
        transition: rotate 0.4s ease;
        &:nth-child(1) {
            rotate: var(--rotate);
        }
        &:nth-child(2) {
            rotate: calc(var(--rotate) + 90deg);
        }
    }
}

.show-details {
    padding-left: 17px;
    .active > & {
        display: none;
    }
}

.gist-details {
    display: none;
    .active > & {
        display: block;
    }
    max-width: 100%;
}

.white-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 1fr;
    gap: 10px;
    margin: 100px -10px;
    padding: 15px;
    background-color: #002b36;
    border: 1px solid #cb4b16;

    .white-label {
        display: flex;
        align-items: center;
        justify-self: right;
        color: #fff;
        user-select: none;
    }

    .white-canvas {
        width: 100%;
        aspect-ratio: 3 / 1;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .save-img-button > a {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        color: #000;
        text-decoration: none;
        user-select: none;
    }

    .input-white-name {
        padding-left: 10px;
    }

    .generate-white {
        transition: all 0.05s ease-out;
        user-select: none;
        color: var(--rev-text-color);
        &:active {
            scale: 0.95;
            filter: brightness(0);
        }
    }
}

// svgの色をカラーテーマに応じて変更
.hsv-ls-svg-a {
    fill: var(--background-color);
}

.hsv-ls-svg-b {
    stroke: var(--text-color);
}

.hsv-ls-svg-c {
    stroke: var(--text-color);
    fill: var(--text-color);
}

.hsv-ls-svg-d {
    fill: var(--text-color);
}

.hsv-cs-svg-a {
    fill: var(--background-color);
}

.hsv-cs-svg-b {
    fill: var(--text-color);
}

.hsv-cs-svg-c {
    stroke: var(--text-color);
}

.hsv-ls-white-svg-a {
    fill: var(--background-color);
}
.hsv-ls-svg-a {
    fill: var(--background-color);
}

.hsv-ls-white-svg-b {
    stroke: var(--text-color);
}

.hsv-ls-white-svg-c {
    stroke: var(--text-color);
    fill: var(--text-color);
}

.hsv-ls-white-svg-d {
    fill: var(--text-color);
}

.hsv-summary-wrapper {
    .hsv-top {
        background-color: #eee;
    }
    svg.hsv {
        border-color: #000;
    }
}

.hsv-top-slice-1 {
    filter: contrast(1.5);
}
.hsv-top-slice-2 {
    filter: contrast(1.25) brightness(0.8);
    transform: scale(0.8);
    transform-origin: 50% 50%;
}
.hsv-top-slice-3 {
    filter: contrast(1) brightness(0.6);
    transform: scale(0.6);
    transform-origin: 50% 50%;
}
.hsv-top-slice-4 {
    filter: contrast(0.75) brightness(0.4);

    transform: scale(0.4);
    transform-origin: 50% 50%;
}
.hsv-top-slice-5 {
    filter: contrast(0.3) brightness(0.2);
    transform: scale(0.2);
    transform-origin: 50% 50%;
}
.hsv-top-slice-6 {
    filter: brightness(0);
    transform: scale(0.07);
    transform-origin: 50% 50%;
}

.hsv-description .hsv-svg-wrapper svg.hsv-top use {
    filter: contrast(1.2);
}
