//! 全体に適用

@use "util/theme";

.all-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 1rem;
    padding-top: 70px;
    padding-bottom: 120px;
    max-width: 950px;

    // bodyにdisplay: flexと迷ったけどとりあえずこっち
    margin: auto;
    width: auto;

    // border: dotted 3px greenyellow;
}

body {
    margin: 0;
    background-color: var(--rev-blurred-text-color);

    // border: dotted 3px skyblue;
}

* {
    font-family: "UD デジタル 教科書体 NP-B", "gothic";
}

p {
    font-size: calc(1rem + 0.35vw);
    line-height: calc(1.8rem + 1.2vw);
}

.click-here {
    color: var(--text-color);
    font-size: 115%;
    text-decoration: dotted underline 3px #268bd2;
}
