//! 全体に適用

@use "util/theme";

.all-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 1rem;
    padding: 5vw;
    padding-top: 70px;
    padding-bottom: 120px;
    max-width: 950px;

    // bodyにdisplay: flexと迷ったけどとりあえずこっち
    margin: auto;
    width: auto;
}

body {
    margin: 0;
    background-color: var(--rev-blurred-text-color);
}

* {
    font-family: "UD デジタル 教科書体 N-B", sans-serif;
}

p {
    font-size: calc(1rem + 0.35vw);
    line-height: calc(1.8rem + 1.3vw);
}

.click-here {
    color: #fff;
    font-size: 105%;
    text-decoration: underline #fff;
    background-color: #2629d2;
}

h2 {
    border-left: solid #d33682 3.3px;
    border-bottom: solid #d33682 1.3px;
}
