@use "theme";

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5rem 0;
    margin: 0;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;

    visibility: hidden;

    // スマホでは使いやすくなるかも
    user-select: none;
}

.burger {
    --opacity: 1;
    --rotate: 0;
    --translate: 0.5rem;
    z-index: 100;
    display: grid;
    place-items: center;
    width: 50px;
    aspect-ratio: 1;
    cursor: pointer;
    background-color: var(--blurred-text-color);
    border: none;
    border-radius: 5px;
    visibility: visible;

    &.is-active {
        // background-color: #6c71c4;
        --opacity: 0;
        --rotate: 135deg;
        --translate: 0;
    }

    span {
        display: block;
        grid-area: 1 / 1 / -1 / -1;
        width: 70%;
        height: 2.5px;
        background-color: var(--rev-text-color);
        transition:
            opacity 0.4s ease,
            rotate 0.4s ease,
            translate 0.4s ease;

        &:nth-child(1) {
            opacity: var(--opacity);
        }
        &:nth-child(2) {
            rotate: var(--rotate);
            translate: 0 calc(var(--translate) * -1);
        }
        &:nth-child(3) {
            rotate: calc(var(--rotate) * -1);
            translate: 0 var(--translate);
        }
    }
}

.menu {
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 100;
    width: auto;
    height: auto;
    padding: 1rem;
    pointer-events: none;
    background-color: var(--background-color); // TODO
    border: solid #d33682 2px;
    border-right: none;
    opacity: 0;
    transition: opacity 0s ease;
    border-radius: 30px 0 0 30px;
    visibility: visible;

    &.is-active {
        pointer-events: all;
        opacity: 1;
        transition: opacity 0.4s ease;
    }

    a {
        width: auto;
        text-align: center;
        display: block;
        padding: 0.5rem;
    }
}

.nav-list {
    display: contents;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        margin: 5px 0;
        text-align: center;
    }

    a {
        font-size: 1.8rem;
        font-weight: 800;
        color: var(--text-color);
        text-decoration: none;
        &:hover {
            text-decoration: #d33682 underline;
        }
    }
}

.settings-button {
    text-align: center;
    font-size: 1.3rem;
    padding: 3.5px;
    color: #000;
    background-color: #76bd00;
    -webkit-text-stroke: 0px;
    border: 2px solid #000;
    border-radius: 5px;
    transition: all 0.35 ease;

    &:hover {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(0.9);
    }
    &.settings-open {
        display: none;
    }
}

.change-settings {
    text-decoration: none;
    display: none;
    height: 165px; // TODO 微妙
    padding: 0;
    margin: 0;

    &.settings-open {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.settings {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    width: 65%;
    color: #000;
    border: 2px solid #000;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.15s ease;

    &:hover {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(0.9);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) inset;
        transition: transform 0.05s ease;
    }
}

.toggle-theme {
    background-color: var(--rev-text-color);
    color: var(--text-color);
}

.toggle-hand {
    background-color: #76bd00;
}

body.left .toggle-hand {
    background-color: #d35692;
}

.toggle-up-arrow {
    background-color: #76bd00;
}

body.non-up-arrow .toggle-up-arrow {
    background-color: #d35692;
}

.copy-current-url {
    background-color: #fff;
    &:active {
        background-color: #76bd00;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);

    &.is-active {
        display: block;
    }
}

// もう一か所この指定ある
@media (min-width: 1400px) {
    header {
        justify-content: space-between;
        visibility: visible;
        border-bottom: solid 1px var(--text-color);
    }
    .burger {
        display: none;
    }
    .menu {
        position: relative;
        top: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        max-width: 100%;
        pointer-events: all;
        background-color: transparent;
        border: solid 0px #fff;
        opacity: 1;
        a {
            padding: 0;
            font-size: 1.9rem;
        }
    }
    .nav-list {
        flex-direction: row;
        li {
            margin: 0 1rem;
        }
    }
    .settings-button {
        display: none;
    }
    .change-settings {
        display: flex;
        height: 40px;
        flex-direction: row;
    }

    body.left {
        .menu {
            flex-direction: row-reverse;
        }
    }
}

body.left {
    header {
        justify-content: flex-start;
        right: auto;
        left: 0;
    }
    .menu {
        right: auto;
        left: 0;
        border-radius: 0 30px 30px 0;
        border: solid #d33682 2px;
        border-left: none;
        @media (min-width: 1400px) {
            border: none;
        }
    }
}
