/* original
<svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
  <circle cx="100" cy="100" r="95" stroke="#000" stroke-width="10" fill="#fff"/>
  <polyline points="40,100, 100,40 160,100" stroke="#000" />
  <line x1="100" y1="90" x2="100" y2="145" stroke="#000" stroke-width="50" />
</svg>

*/

@use "theme";

svg {
    --move-top-color-1: var(--text-color);
    --move-top-color-2: var(--rev-text-color);
    z-index: 1000;

    .svg-up-arrow-a {
        stroke: var(--move-top-color-1);
        fill: var(--move-top-color-2);
    }
    .svg-up-arrow-b {
        stroke: var(--move-top-color-1);
        fill: var(--move-top-color-1);
    }
    .svg-up-arrow-c {
        stroke: var(--move-top-color-1);
    }

    &.up-arrow {
        display: block;
        width: 55px;
        height: 55px;
        transition: all 0.15s ease;

        &:hover {
            transform: scale(1.15);
            --move-top-color-1: var(--rev-text-color);
            --move-top-color-2: var(--text-color);
        }
        &:active {
            transform: scale(1.4);
            transition: all 0.05s ease;
        }
    }
}

.up-arrow {
    position: fixed;
    right: 25px;
    bottom: 25px;
    padding: 0px;
    margin: 0px;
}

body.left .up-arrow {
    left: 25px;
}

// このクラスはヘッダーのハンバーガーメニューを用いて適用される
body.non-up-arrow .up-arrow {
    display: none;
}
