$schemes: light, dark;

$scheme-colors: (
    // [0]: light, [1]: dark
    text: (#000, #fff),
    rev-text: (#fff, #000),
    background: (#eee, #002b36),
    blurred-text: (#444, #bbb),
    rev-blurred-text: (#bbb, #444)
);

@each $scheme in $schemes {
    // テーマごとのクラス
    .#{$scheme}-theme {
        @each $name, $colors in $scheme-colors {
            $color: nth($colors, index($schemes, $scheme));
            --#{$name}-color: #{$color};
            --#{$name}-rgb-color: #{red($color), green($color), blue($color)};
        }
    }
}
