.light-theme {
  --text-color: #000;
  --text-rgb-color: 0, 0, 0;
  --rev-text-color: #fff;
  --rev-text-rgb-color: 255, 255, 255;
  --background-color: #eee;
  --background-rgb-color: 238, 238, 238;
  --blurred-text-color: #444;
  --blurred-text-rgb-color: 68, 68, 68;
  --rev-blurred-text-color: #bbb;
  --rev-blurred-text-rgb-color: 187, 187, 187;
}

.dark-theme {
  --text-color: #fff;
  --text-rgb-color: 255, 255, 255;
  --rev-text-color: #000;
  --rev-text-rgb-color: 0, 0, 0;
  --background-color: #002b36;
  --background-rgb-color: 0, 43, 54;
  --blurred-text-color: #bbb;
  --blurred-text-rgb-color: 187, 187, 187;
  --rev-blurred-text-color: #444;
  --rev-blurred-text-rgb-color: 68, 68, 68;
}

h1 {
  font-size: calc(3vw + 2rem);
  text-align: center;
}

html,
body {
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-list-title {
  font-size: calc(1rem + 1vw + 3px);
}

.title-list {
  margin-top: 0;
  font-size: larger;
}
.title-list li {
  padding: 8px 0;
}
.title-list li a {
  text-decoration: none;
  color: var(--text-color);
}

h2 {
  font-size: min(1.5vw + 1.3rem, 45px);
  padding: 9px;
  margin: 6rem 0 2rem 0;
  max-width: 100%;
  font-family: serif;
}

h3 {
  font-size: min(1vw + 1rem, 33px);
  border-bottom: solid #cb4b16 1.5px;
  padding: 9px;
  margin: 2rem 0 1.5rem 0;
  max-width: min(75%, 500px);
  font-family: serif;
}

h4 {
  font-size: min(0.9vw + 0.9rem, 25px);
  border-left: solid #859900 2px;
  padding: 5px;
  padding-left: 9px;
  margin: 2rem 0 1rem 5px;
  max-width: 100%;
  font-family: serif;
}

p {
  font-size: min(1rem + 0.35vw, 22px);
  line-height: calc(1.8rem + 1.2vw);
}

.force-wrap {
  word-break: break-all;
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-break: anywhere;
}

.references-url {
  font-size: 70%;
}

.content-center {
  text-align: center;
  font-size: 120%;
  font-weight: bold;
}

.content-t-r-ul > li {
  font-size: calc(1rem + 0.35vw);
  line-height: calc(1.5rem + 1vw);
}

.content-hp-numerical-formula {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 0 5px;
}

.content-hp-musical-scale-wrapper > table {
  --border-color: var(--text-color);
  width: 100%;
  max-width: 400px;
  border: solid 2px var(--border-color);
  border-collapse: collapse;
  font-size: 120%;
  margin: 30px 0px;
}
.content-hp-musical-scale-wrapper > table tr th,
.content-hp-musical-scale-wrapper > table tr td {
  padding: calc(0.15vw + 0.15vh);
}
.content-hp-musical-scale-wrapper > table tr:nth-child(3n) {
  border-bottom: solid 0.1px var(--border-color);
}
.content-hp-musical-scale-wrapper > table tbody {
  border: solid 1px var(--border-color);
}
.content-hp-musical-scale-wrapper > table tbody td {
  text-align: center;
}
.content-hp-musical-scale-wrapper > table tbody * {
  font-weight: normal;
}

.content-hp-chord-wrapper {
  --border-color: var(--text-color);
  overflow-x: auto;
  width: 100%;
  max-width: 550px;
  font-size: larger;
}
.content-hp-chord-wrapper table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  border: solid 1px var(--border-color);
  margin: 15px 0;
}
.content-hp-chord-wrapper tr th,
.content-hp-chord-wrapper tr td {
  padding: 3px 13px;
}
.content-hp-chord-wrapper thead *,
.content-hp-chord-wrapper tbody * {
  text-align: center;
}

.content-hp-a {
  border-left: solid 0.1px var(--text-color);
}

.content-sg-a {
  display: block;
  border-left: solid 0.1px var(--text-color);
  margin-left: 7px;
  padding-left: 3px;
}/*# sourceMappingURL=notebook.css.map */